.cart-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-direction: column;
}

.cart-content {
  text-align: center;
}

.cart-image {
  width: 120px;
  margin-bottom: 20px;
}

.explore-btn {
  background-color: #f3e8ff;
  color: #7e22ce;
  border: 1px solid #7e22ce;
  border-radius: 8px;
  padding: 8px 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.explore-btn:hover {
  background-color: #7e22ce;
  color: white;
}
