.carousel-container {
  position: relative;
  width: 97%;
  overflow: hidden;
  margin: 40px auto 0 auto;
}

.carousel-wrapper {
  overflow: hidden;
}

.carousel-track {
  display: flex;
}

.carousel-card img {
  width: 100%;
  border-radius: 8px;
  margin-left: 20px;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: white;
  border: none;
  color: black;
  /* padding: 10px; */
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  
}

.arrow-left { left: -1px; }
.arrow-right { right: -5px; }

.offer{ font-weight: bold; font-size: 2.3rem; margin-left: 3%; margin-top: 8%; }
@media (max-width: 768px) {
  .carousel-card {
    flex: 0 0 100%; /* 1 card per view on mobile */
    margin-right: 0;
  }
  .carousel-container{
    margin-right: 25px;
  }

  .arrow {
    font-size: 20px;
  }

  .offer {
    font-size: 1.5rem;
    text-align: center;
  }
}