 /* ---------- CLEANING & PEST CONTROL ---------- */
.cleaning-wrapper {
  width: 100%;
  margin: 60px 0;
}

.cleaning-heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #222;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 40px;
  margin-left: 30px;
 
}

.cleaning-cards {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: stretch; */
  gap: 20px;
  flex-wrap: nowrap;
  padding: 0 3%;
  margin-top: 90px;
}

.cleaning-card {
  /* flex: 1 1 calc(20% - 20px); leave space as if 5th card exists */
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  overflow: hidden;
  width: 18%;
}

.cleaning-card:hover img {
  transform: scale(1.05);
}
.cleaning-card:hover{
    border: #000 1px solid;

}

.cleaning-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.cleaning-title {
  font-size: 1rem;
  padding: 15px;
  color: #111;
}

/* Responsive */
@media (max-width: 992px) {
  .cleaning-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cleaning-card {
    flex: 1 1 calc(45% - 20px);
  }
}

@media (max-width: 600px) {
  .cleaning-card {
    flex: 1 1 100%;
  }
}
