.repair-wrapper {
  margin-top: 70px;
  padding: 20px 5%;
}

.repair-heading {
  font-size: 2.5rem;
  margin-bottom: 60px;
  color: #222;
  position: relative;
  right: 30px;
  font-weight: 600;
}

.repair-carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 108%;
  padding: 0;
  margin: 0 auto;
  right: 40px;
}

.slick-slide {
  padding: 0 12px;
}

.repair-item {
  flex: 0 0 calc((100% - 40px) / 5); 
  text-align: left;
  box-sizing: border-box;
  padding: 1px;
  font-family: "Poppins", sans-serif;
}

.repair-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
}

.repair-text {
  font-size: 1rem;
  font-weight: 600;
}

.repair-rating {
  font-size: 0.9rem;
  color: #666;
}

.repair-price {
  font-size: 1.1rem;
  font-weight: 700;
}

/* Arrows */
.repair-arrow {
   position: absolute;
  top: 35%;
  transform: translateY(-70%);
  background: white;
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  z-index: 10;
}

.repair-arrow.left {
  left: -10px;
}

.repair-arrow.right {
  right: -10px;
}
@media (max-width: 1024px) and (min-width: 768px) {

   .repair-carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  .repair-heading {
    font-size: 2rem;
    right: 0;
  }
  .repair-item{
    flex: 0 0 calc((100% - 30px) / 3) !important; 
  
  }

  .repair-image {
     width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px; 
  }
  .repair-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px; 
  }

  .repair-arrow {
    padding: 10px;
  }

  .repair-arrow.left { left: -10px; }
  .repair-arrow.right { right: -10px; }
}

/* ---------- LARGE MOBILE / SMALL TABLET (max 768px) ---------- */
@media (max-width: 768px) {

   .repair-item {
    flex: 0 0 calc((100% - 10px) / 2);

  }

  .repair-wrapper {
    padding: 15px;
  }

  .repair-image {
     height: 180px;
    width: 100%;
  }
  .repair-carousel{
     width: 100%;
    right: 0;
  }

  .repair-heading {
    font-size: 1.8rem;
    text-align: center;
  }
}
.repair-arrow{
     margin-bottom: 20px;

}

/* ---------- MOBILE (max 480px) ---------- */
@media (max-width: 480px) {
  .repair-arrow {
    display: block !important;
    padding: 8px;
  }

  .repair-arrow.left {
    left: 0;
  }
  
  .repair-arrow.right {
    right: 0;
  }
}
