.login-hover-box {
  position: absolute;
  top: 65px;
  right: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 1000;
  padding: 8px 20px;
}

.login-hover-item {
  margin: 0;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}

