
/* ---------- MOST BOOKED SERVICES ---------- */
.mostbooked-wrapper {
  margin-top: 70px;
  padding: 20px 5%;
  
}

.mostbooked-heading {
  font-size: 2.5rem;
  margin-bottom: 60px;
  color: #222;
  position: relative;
  right: 30px;
  font-weight: 600;
}

.mostbooked-carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 108%;
  padding: 0;
  margin: 0 auto;
  right: 40px;
}

.mostbooked-track {
  display: flex;
  gap: 10px;
}

.mostbooked-item {
  flex: 0 0 calc((100% - 40px) / 5); 
  text-align: left;
  box-sizing: border-box;
  padding: 1px;
  font-family: "Poppins", sans-serif;

}

.mostbooked-item img {
  width: 90%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
}

.mostbooked-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  font-weight: 600;
}

/* Arrows */
.mostbooked-arrow {
  position: absolute;
  top: 35%;
  transform: translateY(-70%);
  background: white;
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  z-index: 10;
}
.mostbooked-rating {
  position: relative;
  bottom: 12px;
}

.mostbooked-price {
  font-weight: bold;
  position: relative;
  bottom: 16px;
}

.mostbooked-arrow.left { left: -10px; }
.mostbooked-arrow.right { right: -10px; }


/* ---------- Responsive ---------- */
@media (max-width: 1024px) {
  .mostbooked-item {
    flex: 0 0 calc((100% - 30px) / 3); /* 3 items */
  }
  .mostbooked-item img {
    height: 220px;
  }
  .mostbooked-heading {
    font-size: 2rem;
  }
}

/* Small Tablet: 2 items */
@media (max-width: 1024px) {
  .mostbooked-item {
    flex: 0 0 calc((100% - 20px) / 3);
  }

  .mostbooked-item img {
    height: 220px;
  }

  .mostbooked-heading {
    font-size: 2rem;
  }
}

/* Tablet view */
@media (max-width: 768px) {
  .mostbooked-item {
    flex: 0 0 calc(50% - 10px);  
    display: flex;               
    flex-direction: column;
    align-items: center;         
    text-align: center;
    margin-bottom: 20px;         
  }

  .mostbooked-item img {
    /* width: 100%;               */
    height: 160px;               
    object-fit: cover;          
    border-radius: 10px;         
    display: block;
    margin-bottom: 10px;   
  }

  .mostbooked-heading {
    font-size: 1.8rem;
  }

  .mostbooked-text {
    font-size: 15px;             
  }

  .mostbooked-arrow {
    top: 25%;                    
    padding: 8px;
  }
}


/* Mobile: 1 item per row */
@media (max-width: 480px) {
  .mostbooked-item {
    flex: 0 0 100%;          
    display: flex;            
    flex-direction: column;   
    align-items: center;     
    text-align: center;  
    
  }

  .mostbooked-item img {
    width: 90%;              
    object-fit: contain;        
    display: block;    
    margin-left: 50px;  
  }

  .mostbooked-heading {
    font-size: 1.4rem;
    margin-bottom: 60px;
    text-align: center;
    position: relative;   
    top: -50px;           
    left: 0;              
  }
  .mostbooked-text {
    font-size: 14px;
    text-align: center;
  }

  .mostbooked-arrow {
    top: 30%;
    transform: translateY(-50%);
    padding: 8px;
  }
}