
/* ---------- MOST BOOKED SERVICES ---------- */
.mostbooked-wrapper {
  margin-top: 70px;
  padding: 20px 5%;
  
}

.mostbooked-heading {
  font-size: 2.5rem;
  margin-bottom: 60px;
  color: #222;
  position: relative;
  right: 30px;
  font-weight: 600;
}

.mostbooked-carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 108%;
  padding: 0;
  margin: 0 auto;
  right: 40px;
}

.mostbooked-track {
  display: flex;
  gap: 10px;
}

.mostbooked-item {
  flex: 0 0 calc((100% - 40px) / 5); 
  text-align: left;
  box-sizing: border-box;
  padding: 1px;
  font-family: "Poppins", sans-serif;

}

.mostbooked-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
}

.mostbooked-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  font-weight: 600;
}

/* Arrows */
.mostbooked-arrow {
  position: absolute;
  top: 35%;
  transform: translateY(-70%);
  background: white;
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  z-index: 10;
}
.mostbooked-rating {
  position: relative;
  bottom: 12px;
}

.mostbooked-price {
  font-weight: bold;
  position: relative;
  bottom: 16px;
}

.mostbooked-arrow.left { left: -10px; }
.mostbooked-arrow.right { right: -10px; }


/* ---------- Responsive ---------- */
@media (max-width: 768px) {
  .mostbooked-item {
    flex: 0 0 calc(100% / 2); 
  }
}

@media (max-width: 480px) {
  .mostbooked-item {
    flex: 0 0 100%;
  }
  .mostbooked-item img {
    height: 160px;
  }
}
