body {
  font-family: sans-serif !important;
}
/* Navbar height */
.navbar-tall {
  min-height: 85px;
  position: relative;
  z-index: 10;
}
/* Logo hover */
.navbar-logo {
  width: 108px;
  transition: all 0.1s ease;

}
.navbar-logo:hover {
  transform: scale(1.1);
  filter: brightness(1.2) drop-shadow(0 0 6px rgba(0, 0, 0, 0.25));
}
/* Nav links */
.nav-link-small {
  font-size: 14px;
  text-decoration: none;
}
.active-link {
  color: black !important;
  font-weight: 600;
  text-decoration: underline;
}

/* Search box + Location layout */
.search-box,
.location-box {
  border: 1px solid #ced4da;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.6rem;
}
.location-dropdown {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  /* z-index: 2000;  */
}

.search-box{
  min-width: 280px;
  /* background-color: red; */
}
.search-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* Icon border */
.icon-outline {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dbd9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Tablet view */
@media (max-width: 991px) and (min-width: 768px) {
  .search-section {
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
    gap: 12px; 
  }

  .search-box,
  .location-box {
    width: 95%;
    max-width: 500px;
    border-radius: 10px;
    padding: 10px 12px;
    box-sizing: border-box;
    position: relative;
    display: flex;
  }

  .search-box input,
  .location-box input {
    width: 100%;
    box-sizing: border-box;
  }

  .icon-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .location-box {
    margin-top: 12px;
  }

  .location-dropdown {
    position: static !important;    
  }
}

/* Mobile view */
@media (max-width: 767px) {
  .search-section {
    display: flex !important;       /* THIS IS REQUIRED */
    flex-direction: column !important;
    width: 100% !important;
    gap: 12px !important;
  }

  .location-box,
  .search-box {
    width: 100% !important;
  }
  @media (max-width: 767px) {
  .search-section {
    flex-direction: column !important;
  }
}

}
