.newnote-wrapper {
  width: 95%;
  margin: auto;
}

.newnote-heading {
  font-weight: bold;
  font-size: 2.3rem;
  margin-top: 8%;
}

.newnote-carousel {
  position: relative;
}

.newnote-viewport {
  overflow: hidden;
}

.newnote-track {
  display: flex;
  transition: transform 0.4s ease;
}

.newnote-slide {
  text-align: center;
  margin-top: 3%;

}

.newnote-image {
  width: 100%;
  height: 230px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

.newnote-text {
  margin-top: 10px;
  font-weight: 600;
}

/* arrows */
.newnote-arrow {
  position: absolute;
  top: 40%;
  background: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border: none;
}

.newnote-arrow.left {
  left: -10px;
}

.newnote-arrow.right {
  right: -10px;
}
@media (max-width: 480px) {
  .newnote-wrapper {
    width: 95%;
  }

  .newnote-heading {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 12%;
  }
  .newnote-image{
    height: 200px;
  }
  
  .newnote-arrow {
    padding: 6px;
    top: 40%;
  }

  .newnote-arrow.left {
    left: -5px;
  }

  .newnote-arrow.right {
    right: -5px;
  }
}

/* ================= TABLET ================= */
@media (min-width: 481px) and (max-width: 1024px) {
  .newnote-heading {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10%;
  }

  .newnote-image {
    height: 250px;
  }

  .newnote-arrow {
    padding: 8px;
  }

  .newnote-arrow.left {
    left: 0;
  }

  .newnote-arrow.right {
    right: 0;
  }
}
