.newnote-wrapper {
  padding: 20px;
}

.newnote-heading {
  font-size: 2.5rem;
  font-weight: 600;
  position: relative;
  top: 90px; /* REMOVE this for mobile */
  left: 15px;
  margin-bottom: 30px; /* controls spacing */
}

.newnote-slide {
  padding: 10px;
  text-align: center;
}

.newnote-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 60%;
  cursor: pointer;
  outline: none !important; 
  border: none !important;
}
.newnote-slide:focus {
  outline: none !important;   
}
.newnote-text {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}

/* Custom arrows */
.newnote-arrow {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  background: white;
  border-radius: 50%;
  padding: 10px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newnote-arrow.left {
  left: -15px;
}

.newnote-arrow.right {
  right: -15px;
}

/* Mobile */
@media (max-width: 768px) {
  .newnote-heading {
    font-size: 1.6rem;
    top: 0;
    left: 0;
    margin-top: 20px;
  }
  

  .newnote-image {
    height: 180px;
    margin-top: 10px;
    width: 100%;
  }
  .newnote-wrapper{
    padding: 0;
  }


  .newnote-text {
    font-size: 14px;
  }

  .newnote-arrow {
    top: 40%; 
    transform: translateY(-50%);
    padding: 8px;
  }

  .newnote-arrow.left {
    left: 5px;
  }

  .newnote-arrow.right {
    right: 5px;
  }

}

/* Small Mobile */
@media (max-width: 480px) {
   .newnote-heading {
    font-size: 1.4rem;
    margin-bottom: 60px;
    top: 0;       
    left: 0;     
    text-align: center;
  }

  .newnote-image {
    height: 140px; 
    margin-top: 10px; 
    object-fit: cover; 
  }

  .newnote-text {
    font-size: 13px;
  }

  .newnote-arrow {
    top: 40%;                
    transform: translateY(-50%); 
    padding: 8px;
    
  }
}