.search-box {
  position: relative;   /* IMPORTANT */
}

.search-dropdown-box {
  position: absolute;
  top: 100%; 
  left: 0;

  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 16px;
  width: 20% !important;       
  min-width: 220px;  
  transition: all 0.3s ease;
  z-index: 2000;

  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-top: 0;        
}


/* Trending list */
.trending-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.trending-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  font-size: 12px;
  color: #313131;
  border: 1px solid #cbc6c6;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.trending-item:hover {
  background-color: #f8f9fa;
}

.trend-icon {
  color: #777;
  font-size: 11px;
}

/* Subservice list */
.subservice-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subservice-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.2s ease;
  border: 1px solid #eee;
  cursor: pointer;
}

.subservice-item:hover {
  background-color: #f8f9fa;
}

.subservice-item img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  object-fit: cover;
}

.subservice-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.subservice-item span {
  font-size: 12px;
  color: #666;
}

/* ===== Tablet ===== */
@media (max-width: 1024px) {
  .search-dropdown-box {
    width: 220px;
  }

  .subservice-item img {
    width: 35px;
    height: 35px;
  }

  .subservice-item p {
    font-size: 13px;
  }
}

/* ===== Mobile ===== */
@media (max-width: 768px) {
  .search-dropdown-box {
    width: 84% !important;
    transform: none !important;
    max-width: none !important;
    position: absolute !important;
    top: 39% !important;
    left: 25px !important;
  }





  .trending-list,
  .subservice-list {
    gap: 6px;
  }

  .subservice-item img {
    width: 30px;
    height: 30px;
  }

  .subservice-item p {
    font-size: 12px;
  }

  .subservice-item span {
    font-size: 11px;
  }
}
